@model TheatreCMS3.Areas.Rent.ViewModels.AllRentalsVM

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateRental","Rentals", null, FormMethod.Post, new { id="beginForm" }))
{
    @Html.AntiForgeryToken()

    <div class="rentals-container">
        <div class="form-horizontal">
        <div class="rentals-header">Create Rental</div>
            <center>
                <div class="rentals-dropdown">
                    <select>
                        <option value="rental" data-rental="@Url.Action("CreateRental")">Rental</option>
                        <option value="rentalEquipment" data-rental="@Url.Action("CreateRentalEquipment")">Rental Equipment</option>
                        <option value="rentalRoom" data-rental="@Url.Action("CreateRentalRoom")">Rental Room</option>
                    </select>
                </div>
            </center>
            <hr />
            <div class="rental">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter rental name" } })
                        @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter rental cost" } })
                        @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter flaws and damages" } })
                        @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="rentalRoom box">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter room number" } })
                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SquareFootage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SquareFootage, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter square footage" } })
                        @Html.ValidationMessageFor(model => model.SquareFootage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaxOccupancy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.MaxOccupancy, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter max occupancy" } })
                        @Html.ValidationMessageFor(model => model.MaxOccupancy, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="rentalEquipment box">
              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ChokingHazard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ChokingHazard, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Choking Hazard?" } })
                        @Html.ValidationMessageFor(model => model.ChokingHazard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SuffocationHazard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SuffocationHazard, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Suffocation Hazard?" } })
                        @Html.ValidationMessageFor(model => model.SuffocationHazard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control rentals-form", @placeholder = "Enter purchase price" } })
                        @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <center>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Create" class="btn btn-primary rentals-button" />
                        <input type="button" class="btn btn-secondary rentals-returnbutton" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
                    </div>
                </div>
            </center>
        </div>
    </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
